

@import url('http://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900&display=swap');
*{
    font-family: 'Roboto' ,'sans-serif';
    box-sizing: border-box;
}
.page-order{
  padding-top: 50px;
}
.container-cart{
  display: flex;
  padding: 0 calc((800px - 750px));
  width: 100%;
  height: 100%;
  background-color:#f6f9fc;
}
.container-page-cart{
  background-color:#f6f9fc;
  padding-top: 0px;
  min-height: 90vh;
}


.left-part-container{
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin-right: 10px;
  margin-top: 100px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
}
.left-part{
  margin-top: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.left-part-end{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.icon-left{
  width: 50px;
  color: #a97c4f;
  font-size: 40px;
}
.description{
  padding-left: 10px;
}
.title-left{
  font-weight: bold;
  color: #a97c4f;
}
.detail{
  font-style: italic;
  font-size:12px;
}
.btn-continue-buy{
  margin-top: 20px;
  font-size: 16px;
    width: 280px;
    height: 40px;
   border-radius: 5px;
   font-weight: 600;
   border: 1px solid  rgba(210, 63, 87, 0.5);
   background: #ffffff;
   color: rgb(210, 63, 87);


}
.btn-continue-buy:hover {
  background: #fce9ec;
 border: 1px solid  #D23F57 ;
}

.checkout{
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin-left: 10px;
    margin-top: 100px;
    padding: 30px;
    border-radius: 8px;
    background-color: white;
}

.note-text{ 
    width: 280px;
    height: 100px;
    display: inline-block;
    border-radius: 8px;
    border: 1px  solid #e1e1e1;
}
.btn-apply{
  border: 1px solid rgba(210, 63, 87, 0.5);
  margin-top: 10px;
  font-size: 16px;
    border-radius: 5px;
    width: 280px;
    height: 40px;
    background: #ffffff;
    margin-top: 20px;
    color: rgb(210, 63, 87);
    font-size: 17px;
}
.btn-apply:hover {
 background: #fce9ec;
 border: 1px solid  #D23F57 ;
 
}
.nav-cart1{
  text-decoration: none;
  width: 120px;
  border: 3px solid #a97c4f;
  border-radius: 20px;
  text-align: center; 
  color: #a97c4f;
 
}
.nav-detail1{
  text-decoration: none;
  width: 120px;
  border: 3px solid #a97c4f;
  border-radius: 20px;
  text-align: center; 
  background-color: #a97c4f;
}
.nav-cart1:hover{
  background-color: #a97c4f;
  color: white;
}

.modal-body{
    width: auto;
    height: auto;
}
.page-order .cart-header .detail{
  text-decoration: none;
background-color: #a97c4f;
color: white;
}

.cart-row-header {
  padding-top: 10px;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  }
  .null-header{
    background-color:#a97c4f;
    height: 3px;
    width: 100px;
  }
  .cart-header {
    text-align: center; 
    font-size: 18px;

  }
  .detail1{
    background-color: #a97c4f;
    color: white;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .note-title{
    display: inline-block;
    margin-bottom: 20px;
   
  }
    /* fillout -order */

    .fillout-order{
        margin: auto;
        background: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    }
  