
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    border-top-left-radius: inherit;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background:#0f3460;
  }

  .home-page{
    padding-top: 5px;
    min-height: 90vh;
    background: #f6f9fc;
  }
  .bannar-img , .bannar-text{
    position: relative;
    height: 100%;
    width: 50%;
    overflow: hidden;
    
  }
  .bannar-img img{
    position: absolute;
    top: 50%;
    left: 0;
    object-fit: cover;
    height: 300px;
    width: 400px;
    transform: translateY(-50%)
  }

  .home-contain{
    width: 100%;

  }
  .home-intro{   
    
    padding-top:50px;
    padding-bottom: 50px;
    display: flex;
    width: auto;
    flex-direction: row;
    margin-left: 0%;
  }
  .img-in{
    background-color:white;
    width:500px;
    height:400px;
  }
  .intro-text{
    background-color:white;
    text-align: justify;
    padding-left: 40px;
    width: auto;
    height: 400px;
  }
  .home-coming{
    background-color: white;
   padding-bottom: 20px;
    display:flex;
    flex-direction: column;
  }
  .title-new{
    padding-left:30px;
    font-size: 35px;
    padding-top:50px;
    padding-bottom: 20px;

  }

  .div-img{
    position: relative;
    height:350px;
    width:350px;
    overflow: hidden;

  }
  .div-img img{
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    width : 100%;
    height: 100%;
  }
  